# Dependencies
node_modules/
package-lock.json

# Build outputs
artifacts/
cache/
coverage/
dist/
build/

# Deployments
deployments/
*.json

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# Others
.git/
.github/
*.md
LICENSE
